body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #5158bb;
  font-weight: 500;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li.slick-active button:before{
  font-size: 18px;
  opacity: 1;
  color: #eb4b98;
}

.slick-dots li button:before {
  font-size: 13px;
  opacity: 1;
  color: #5158bb;
}

.slick-arrow {
  display: none;
}

.slick-next{
  display: none;
  right: -40px;
}

